.hero {
  border-bottom: 1px 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0;
  margin-bottom: 16px;
  @media screen and (min-width: 1088px) {
    .container {
      padding-right: 40px;
    }
  }
}
@media screen and (min-width: 1088px) {
  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: 0;
  }
}

button {
  margin-right: 8px;
}

.navbar-dropdown {
  display: none;

  .navbar-divider:first-child {
    display: none;
  }
}

.navbar-item.is-active .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown {
  display: block;
}

.navbar-dropdown div {
  padding-left: 10px;

  div {
    padding-left: 15px;
  }
}

