.hero.is-info.is-bold {
  border-bottom: 1px 1px solid rgba(0, 0, 0, 0.12);
  border-top: 0;
  margin-bottom: 16px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    65deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  @media screen and (min-width: 1088px) {
    .container {
      padding-right: 40px;
    }
  }
}
@media screen and (min-width: 1088px) {
  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: 0;
  }
  .hero p {
    max-width: 50%;
    margin-bottom: 10px;
  }
}

button {
  margin-right: 8px;
}

.navbar-dropdown {
  display: none;

  .navbar-divider:first-child {
    display: none;
  }
}

.navbar-item.is-active .navbar-dropdown,
.navbar-item.is-hoverable:hover .navbar-dropdown {
  display: block;
}

.navbar-dropdown div {
  padding-left: 10px;

  div {
    padding-left: 15px;
  }
}
